select.moduleList + i.loadingIcon {
  margin-left: 5px;
}

.hidden {
  display: none;
}

#translation-editor-editor label {
  font-weight: bold;
  font-size: 1.1em;
}

.floatRight {
  float: right;
}

#te-form {
  margin-bottom: 32px;
}

#te-form > table > thead > tr > th {
  width: 48.5%;
}

#te-form > table > thead > tr > th:first-of-type {
  width: 1%;
}

#te-form > table > tbody > tr > td {
  padding: 5px;
  vertical-align: top;
}

#te-form > table > tbody > tr > td:first-of-type {
  white-space: nowrap;
}

#te-form > table > tbody td > textarea {
  width: calc(100% - 40px);
  min-height: 58px;
  resize: vertical;
}

#te-form table span.characterCount {
  width: 35px;
  overflow: hidden;
  margin-left: 5px;
}

#te-form table textarea + span.characterCount {
  display: inline-block;
  vertical-align: top;
}

#te-form + .buttons {
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 6px);
  background-color: #fffff0;
  display: flex;
  justify-content: center;
}
